<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' href='https://cdn.smnl.it/VfxwQAzSdd.png' />
    <title>CDN</title>
    <link
      href='https://api.fontshare.com/v2/css?f[]=switzer@1&display=swap'
      rel='stylesheet'
    />
    <script src='https://cdn.tailwindcss.com'></script>
    <script>
      tailwind.config = { theme: { fontFamily: { body: ['Switzer',
      'sans-serif'], } } }
    </script>
    <style type='text/tailwindcss'>
      @layer base { th, td { @apply border border-white p-3 text-left
      font-normal group-hover:bg-[#008cff] transition-colors; } }
    </style>
  </head>
  <body class='font-body bg-black p-10 text-white'>
    <table class='w-full'>
      <thead>
        <tr>
          <th>File {{files.length}}</th>
          <th>Size {{totalSize}}</th>
          <th>Upload Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each files}}
          {{#with this}}
            <tr
              class='group cursor-pointer'
              onclick="window.open('/{{fileName}}', '_blank')"
            >
              <td class='relative'>
                {{fileName}}
                <div
                  class='absolute left-2 top-2 z-20 hidden max-w-full border border-white bg-black p-4 group-hover:block'
                >
                  <img
                    src='/{{fileName}}'
                    alt='{{fileName}}'
                    loading='lazy'
                    class='max-h-[400px] max-w-full'
                  />
                </div>
              </td>
              <td>{{size}}</td>
              <td>{{formattedBirthTime}}</td>
            </tr>
          {{/with}}
        {{/each}}
      </tbody>
    </table>
  </body>
</html>